<section class="full-width-video">
    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/YOUR_VIDEO_ID?autoplay=1&mute=1&loop=1&playlist=YOUR_VIDEO_ID" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </div>
</section>

<style>
    .full-width-video {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .video-container {
        width: 100%;
        height: 500px; /* Adjust height as needed */
        position: relative;
        overflow: hidden;
    }
    .video-container iframe {
        width: 100%;
        height: 100%;
    }
</style>